<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    <link rel="stylesheet" href="/original.min.css">
</head>
<body>
    <header>
        <a class="skip-link" href="#main-content">Skip to main content</a>
        <a href="/" class="title"><h1>{{ .Site.Title }}</h1></a>
        <nav>
            <a href="/">Home</a>
            <a href="/posts/">Blog</a>
        </nav>
    </header>
    <main id="main-content">
        {{ block "main" . }}{{ end }}
    </main>
    <footer><small> | </small></footer>
</body>
</html>